*{
    margin: 0%;
    padding: 0%;
    border: 0;
}

body{
    
    background-image: url(https://images.unsplash.com/photo-1488229297570-58520851e868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80);
}

#anime{
    display: grid;
    grid-template-columns: repeat(3,1pr);
    grid-template-rows: repeat(8,1pr);
    grid-template-areas: 
    "hdr hdr hdr"
    "nav nav nav"
    "pc1 pc2 pc3"
    "pc4 pc5 pc6"
    "pc7 pc8 pc9"
    "p10 p11 p12"
    "p13 p14 p15"
    "ftr ftr ftr"
    ;
    grid-gap: 30px;
}



#header{
    grid-area: hdr;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lobster', cursive;
    background-image: none;
   
    
    

}



#nav{
    grid-area: nav;
    background-image: none;
    background-color: lime;
    
}

#nav-list{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-image: none;
    color: tomato;
}

#footer{
    grid-area: ftr;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: pink;
    font-family: 'Lobster', cursive;
    background-color: black;
}

#luffy{
    grid-area: pc1;
}

#vegeta{
    grid-area: pc2;
}

#kakashi{
    grid-area: pc3;
}

#maka{
    grid-area: pc4;
}

#mikasa{
    grid-area: pc5;
}

#yami{
    grid-area: pc6;
}

#urahara{
    grid-area: pc7;

}

#chrollo{
    grid-area: pc8;
}

#gary{
    grid-area: pc9;
}

#jojo{
    grid-area: p10;
}

#yuyu{
    grid-area: p11;
}

#spike{
    grid-area: p12;
}

#afro{
    grid-area: p13;
}

#L{
    grid-area: p14;
}

#nezuko{
    grid-area: p15;
}

@media (max-width:375px){
    body{
        grid-template-columns: 1 1pr;
        grid-template-rows: 18 1pr;
        background-image: url(https://images.unsplash.com/photo-1488229297570-58520851e868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=8);
    }
   
    #anime{

        grid-template-columns: repeat(auto-fit 1pr);
        grid-template-rows: repeat(auto-fit 1pr);
        grid-template-areas: 
        "hdr"
        "nav"
        "pc1"
        "pc2"
        "pc3"
        "pc4"
        "pc5"
        "pc6"
        "pc7"
        "pc8"
        "pc9"
        "p10"
        "p11"
        "p12"
        "p13"
        "p14"
        "p15"
        "ftr"
        ;

        
    }
    
    img{
        width: 100%;
    }

    #nav{
        height: 20%;
    }

    #header{
        background-color: midnightblue;
        color: lime;
    }

    #footer{
        color: mediumorchid;
        background-color: none;
        background-image: url(https://images.unsplash.com/photo-1488229297570-58520851e868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=8);
        
        
        
    }



}

@media (max-width:1024px)and (min-width:376px){
    body{
        background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    }
   
    #anime{
        grid-template-columns: repeat(auto-fit 1pr);
        grid-template-rows: repeat(auto-fit 1pr);
        
        grid-template-areas: 
        "hdr hdr"
        "pc1 pc2"
        "pc3 pc4"
        "pc5 pc6"
        "pc7 pc8"
        "pc9 p10"
        "p11 p12"
        "p13 p14"
        "p15 p15"
        "ftr ftr"
        ;

        background-image: none;
        
        
        
    }

    img{
        width:50%;
    }

    #nezuko{
        display: flex;
        width: 100%;
        
    }

    #footer{
        background-color:none;
        background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        color: white;
        font-family: ;
    }

}

#header{
    background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);

    color: tomato;

}

#nav{
    background-color: black;
    
    text-decoration: none;
    color: tomato;
    
}



